ul {

	height: 50px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #6699ff;
}

body {

	margin: 0;

	font-family: Roboto;
}

li {

	float: left;
	color: white;
	height: 50px;
}

li a {

	display: block;
	text-align: center;
	padding: 15px 16px;
	text-decoration: none;
}

#li_text {

	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float: right;
	font-weight: 700;
}

img {

	border-radius: 50%;
	max-height: 30px;
	max-width: 30px;
	display: block;
	float: right;
}

.dropdown-button:hover, a:hover {

	background-color: #1a66ff;
}

a, .dropdown-button {

	display: block;
	border: none;
	padding: 8px;
	color: white;
	background: none;
	transition: 0.3s;
}

.dropdown-button:hover a {

	height: auto;
}

.dropdown-content {

	/*display: none;*/
	/*transition: top 0.5s;*/
}

.fa-caret-down {

	float: right;
}

.content p {

	text-indent: 50px;
}

h2 {

	text-indent: 50px;
}

.sidenav {

	height: 100%;
	width: 0;
	position: fixed;
	overflow-x: hidden;
	transition: 0.5s;
	background-color: #6699ff;
	font-weight: 700;
}

.sidenav a {

	padding: 8px 8px 8px 32px;
	text-decoration: none;
	white-space: nowrap;
	text-align: left;
}

.content {

	font-weight: 300;
	font-size: 20pt;
}

.sidenav {

	font-size: 20pt;
}

#footer {
	
	text-align: center;
	margin-top: 20px;
	font-weight: 100;
	font-size: 12pt;
}

#footer a {

	color: black;
	display: initial;
	background-color: white;
	transition: 0s;
}

.sticky {

	position: fixed;
	top: 0;
	width: 100%;
}

.content {

	padding-left: 20px;
}

.sticky ~ .content {

	padding-top: 50px;
}

.dropdown-content li {

	opacity: 0;
}

.ul-animate li {

	animation: drop 0.9s;
	animation-fill-mode: forwards;
	opacity: 1;
}