html, body {
	
	background-color: #6699ff;
}

body {

	margin: 0;
	padding: 0;
	font-family: Roboto;
	flex-direction: column;
	display: none;
}

.colorable {

	transition: color 200ms linear 100ms, background-color 200ms linear 100ms;
}

.sticky {

	position: fixed;
	top: 0;
	width: 100%;
}

.sticky ~ #content {

	padding-top: 50px;
}
