<ul id="header-list" class="colorable" light="#6699ff" dark="#334C7F">
	<li><a onclick="switchNav()"><i class="fas fa-bars"></i></a></li>
	<li><a href="/index.html">Home</a></li>
	<li><a href="/about.html">About</a></li>
	<li><a href="/help.html">Help</a></li>
	<li><a href="/contacts.html">Contacts</a></li>
	<li><a href="/events.html">Events</a></li>
	<li><a href="/blogs.html">Blogs</a></li>
	<li><a href="/write_blog.html">Write a Blog</a></li>
	<li id="header-name"><a onclick="coverElement('menu-wrapper')">Krows Team</a></li>
</ul>
<div id="menu-wrapper">
	<div id="menu">
		<p>Switch Theme</p>
		<input type="checkbox" id="theme-toggle" class="colorable" light="black" dark="white">
	</div>
</div>
<div id="sidenav" class="colorable" light="#6699ff" dark="#334C7F">
	<a href="/project_pages/flexmine.html">FlexMine</a>
	<a href="/project_pages/coop.html">StS Co-op Mod</a>
	<a href="/project_pages/coretools.html">CoreTools</a>
	<a href="/project_pages/gamecreator.html">GameCreator (in Development)</a>
	
	<a onclick="releaseList(this, 'dropdown-wrapper')">
		Games
		<i class="fa fa-caret-down"></i>
	</a>
	<div id="dropdown-wrapper">
		<div id="dropdown-content">
			<a href="/games/bulls.html">Bulls & Cows</a>
			<a href="/games/memory.html">Memory</a>
			<a href="/games/snake.html">Snake</a>
			<a href="/games/ttt.html">Tic Tac Toe</a>
		</div>
	</div>
</div>