<ul class="header">
	<li><a onclick="switchNav()"><i class="fas fa-bars"></i></a></li>
	<li><a href="/index.html">Home</a></li>
	<li><a href="/about.html">About</a></li>
	<li><a href="/help.html">Help</a></li>
	<li><a href="/contacts.html">Contacts</a></li>
	<li id="li_text">
		Krows Team
	</li>
</ul>
<div id="sidenav" class="sidenav">
	<a href="/project_pages/flexmine.html">FlexMine</a>
	<a href="/project_pages/coop.html">StS Co-op Mod</a>
	<a href="/project_pages/coretools.html">CoreTools</a>
	<a href="/project_pages/gamecreator.html">GameCreator (in Development)</a>
	
	<a onclick="animateUL()" class="dropdown-button">
		Games
		<i class="fa fa-caret-down"></i>
	</a>
	<ul class="dropdown-content">
		<li>1</li>
		<li>2</li>
		<li>3</li>
		<li>4</li>
	</ul>
</div>